<%- include('../header') %>
    <div class="container">
        <%- include('../components/menu') %>
    </div>
    <div
        class="three-quarter-min-height col-12 d-flex flex-column justify-content-center align-content-center align-items-center">
        <div class="login-form align-content-center">
            <h6 class="mb-3">Elfelejtett jelszó visszaállítása</h6>
            <% if (typeof passwordResetSuccess !=='undefined' ) { %>
                <div class="alert alert-success alert-dismissible fade show rounded-pill" role="alert">
                    A jelszóvisszaállításhoz szükséges e-mailt elküldtük!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } else { %>
                    <%- include('../components/errors') %>
                        <form method="post" action="/forgotpassword">
                            <div class="form-outline mb-4">
                                <input type="email" id="email" name="email" placeholder="E-mail"
                                    class="form-control rounded-pill" />
                            </div>

                            <input type="submit" value="Küldés"
                                class="btn btn-primary btn-block mb-4 w-100 rounded-pill" />
                        </form>
                        <% } %>
        </div>
    </div>
    <%- include('../footer') %>