<%- include('../header') %>
    <div class="container">
        <%- include('../components/menu') %>
    </div>
    <div
        class="three-quarter-min-height col-12 d-flex flex-column justify-content-center align-content-center align-items-center">
        <div class="login-form align-content-center">
            <h6 class="mb-3">Elfelejtett jelszó visszaállítása</h6>
            <form method="post" action="/login" enctype="multipart/form-data">
                <div class="form-outline mb-4">
                    <input type="email" id="email" name="user" placeholder="E-mail" class="form-control rounded-pill" />
                </div>

                <input type="submit" value="Küldés" class="btn btn-primary btn-block mb-4 w-100 rounded-pill" />
            </form>
        </div>
    </div>
    <%- include('../footer') %>