body {
    background-color: #1C1C1C;
    color: var(--bs-white);
    min-height: 100%;
}

.login-form {
    min-width: 300px;
    /* height: 100vh; */
}

.big_logo {
    width: 350px;
    height: 350px;
}

.logo {
    width: 40px;
    height: 40px;
}

.full-min-height {
    min-height: 100dvh;
}

.half-min-height {
    min-height: 50dvh;
}

.three-quarter-min-height {
    min-height: 75dvh;
}

.input-group-append {
    cursor: pointer;
}

#generalError,
#nameError,
#emailError,
#divCheckPasswordMatch {
    color: red;
}