<hr>
<form method="post" action="/newtweet">
    <div class="mb-3">
        <input type="text" class="form-control" id="newtweet" name="newtweet" placeholder="Mi történik épp most?">
    </div>
    <button type="submit" class="btn btn-primary">Tweet</button>
</form>